---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";

// PDF 불러오기 성공!
import resumePdf from "../../content/resume/resume.pdf";
---

<PageLayout title="Andy's Resume" description="My Resume">
  <TopLayout>
    <div class="animate page-heading">
      Resume
    </div>
  </TopLayout>
  
  <BottomLayout>
    <div class="animate w-full flex flex-col gap-10">
      
      <div class="w-full border border-black/10 dark:border-white/10 rounded-lg overflow-hidden shadow-sm">
        <iframe 
          src={resumePdf} 
          width="100%" 
          style="height: 1000px; min-height: 80vh;" 
          title="Andy's Resume">
        </iframe>
      </div>

    </div>
  </BottomLayout>
</PageLayout>